<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8a8741caca.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
             <link rel="stylesheet" type="text/css" href="{{asset('build/css/app.css')}}"/>
        {% endblock %}
    </head>
    <body>
        <header>

            <div class="row align-justify header mar-bottom">
                <div class="medium-4 small-8 columns">
                    <a href="{{ url('app_index')}}"><img src="{{asset('build/images/logo.png')}}" title="SYB" alt="SYB" ></a>
                </div>
                <div class="medium-6 small-4 columns">
                  {{ render(url('app_login')) }}
                </div>
            </div>
        </header>

        <nav>
      {% block navbar %}

          {% if hideNavBar is not defined or hideNavBar is null or not hideNavBar %}
          <div class="row">
            <div class="small-12 columns">
              <ul class="menu">
                <li class="{% if QuizListMenu is defined and QuizListMenu %} is-active {% endif %}"><a href="{{url('app_index')}}">Liste des quizs</a></li>
                {% if app.user %}
                  <li class="{% if MyQuizsMenu is defined and MyQuizsMenu %} is-active {% endif %}" ><a href="{{url('app_user_quiz')}}">Mes quizs</a></li>
                  <li class="{% if CreateQuizMenu is defined and CreateQuizMenu %} is-active {% endif %}" ><a href="{{url('app_create_quiz')}}">Créer un quiz</a></li>
                {% endif %}
              </ul>
            </div>
            {% endif %}

      {% endblock %}
          </nav>
      {% block body %}

      {% endblock %}

      <script>
          $(document).foundation();
      </script>
      {% block javascripts %}
          
      {% endblock %}
    </body>
</html>
