{% extends 'Areas/User/base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block connection %}


    <form method="post" action="/">
        <div class="row">
            <div class="small-6 columns">
                <label for="inputUsername">Nom de compte</label>
                    <input type="text" name="username" id="inputUsername" class="form-control" required autofocus>
            </div>
            <div class="small-6 columns">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >


        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox ">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="row align-right">
            <div class="small-12 columns">
                <button class="" type="submit">
                <a href="/register" class="button">Inscription</a>
                    Connexion
                </button>
            </div>
        </div>          
    </form>

{% endblock %}

{% block body %}
<div class="row centered loginBlock">
    <div class="small-12 columns">
        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn">Inscription</button>
        {{ form_end(registrationForm) }}
    </div>
    
</div>

{% endblock %}
