{% extends 'Areas/User/base.html.twig' %}

{% block title %}Création question{% endblock %}


{% block body %}
<div class="row align-center">
    <div class="small-12 medium-6 columns">
        <h1>Création d'une question pour le quiz {{ quizName }}</h1>
        {% if test is defined %}

        {{test }}

        {% endif %}
        
        {{ form_start(CreateQuestionForm) }}
            {{ form_row(CreateQuestionForm.Question) }}
            {{ form_row(CreateQuestionForm.Answer1) }}
            {{ form_row(CreateQuestionForm.Answer2) }}
            {{ form_row(CreateQuestionForm.Answer3) }}
            {{ form_row(CreateQuestionForm.Answer4) }}
            {{ form_row(CreateQuestionForm.GoodAnswer) }}
            <center>
            {{ form_row(CreateQuestionForm.Submit) }}
            </center>
        {{ form_end(CreateQuestionForm) }}
        <div class="center-text">
            <form action={{path("app_index")}} method="post">
                <button type="submit" class="mar-top">Fin du quizz</button>
            </form>
        </div>
        <br />
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $("#form_GoodAnswer option[value='Réponse 3']").remove();
    $("#form_GoodAnswer option[value='Réponse 4']").remove();
    $('#form_Answer3').on('change', function() {
        if ($('#form_Answer3').val() != "" && $("#form_GoodAnswer option[value='Réponse 3']").length ==0) { 
            $('#form_GoodAnswer').append($('<option>').val('Réponse 3').text('Réponse 3'));
        } else if ($('#form_Answer3').val() == "") { 
            $("#form_GoodAnswer option[value='Réponse 3']").remove();
        }
    });
    $('#form_Answer4').on('change', function() {
        if ($('#form_Answer4').val() != "" && $("#form_GoodAnswer option[value='Réponse 4']").length ==0) { 
            $('#form_GoodAnswer').append($('<option>').val('Réponse 4').text('Réponse 4'));
        } else if ($('#form_Answer4').val() == "") { 
            $("#form_GoodAnswer option[value='Réponse 4']").remove();
        }
    });
</script>
{% endblock %}