{% extends 'Areas/User/base.html.twig' %}

{% block title %}Création question{% endblock %}


{% block body %}
<div class="row loginBlock">
    <div class="small-12 columns">
        <h1>Création d'une question pour le quiz {{ quizName }} numéro {{ quizId }}</h1>
        {% if test is defined %}

        {{test }}

        {% endif %}
        {{ form_start(CreateQuestionForm) }}
            {{ form_row(CreateQuestionForm.Question) }}
            {{ form_row(CreateQuestionForm.Answer1) }}
            {{ form_row(CreateQuestionForm.Answer2) }}
            {{ form_row(CreateQuestionForm.Answer3) }}
            {{ form_row(CreateQuestionForm.Answer4) }}
            {{ form_row(CreateQuestionForm.Submit) }}
        {{ form_end(CreateQuestionForm) }}
    </div>

</div>
{% endblock %}
