{% extends 'Areas/User/base.html.twig' %}

{% block title %}Création question{% endblock %}


{% block body %}
<div class="row loginBlock">
    <div class="small-12 columns">
        <h1>Création d'une question pour le quiz {{ quizName }} numéro {{ quizId }}</h1>

        {{ form_start(CreateQuestionForm) }}
            {{ form_row(CreateQuestionForm.Entitled) }}
            {{ form_row(CreateQuestionForm.Response1) }}
            {{ form_row(CreateQuestionForm.Response2) }}
            {{ form_row(CreateQuestionForm.Response3) }}
            {{ form_row(CreateQuestionForm.Response4) }}
            {{ form_row(CreateQuestionForm.GoodResponse) }}
            <button class="btn">Créer</button>
        {{ form_end(CreateQuestionForm) }}
    </div>

</div>
{% endblock %}
