{% extends 'Areas/User/base.html.twig' %}

{% block title %}
    {{quiz.name}}
{% endblock %}
{% block body %}
<script> 
    var associativeQuestion = {};
    var associativeAnswer = {};
 </script>
<div class="row align-center">
    <div class="small-12 medium-6 columns" id="quizBlock">
            <div id="quizName" class="text-center"> Nom du quiz: {{quiz.Name}}</div>
            <div class="center-text"><button class="border-round" id="startButton">Commencer le quiz !</button> </div>
            {% set questionForTest = 1 %}
            {% for question in quiz.questions|shuffle %}
                        <script> associativeQuestion[{{question.id}}] = '{{question.entitled | raw}}';</script>
                        <div class="hidden center-text" data-question="{{question.id}}" data-test="{{questionForTest}}"><span class="questionQuiz">{{ question.entitled | raw }}</span>
                        <div class="row align-center">
                            {% for response in question.answers|shuffle %}
                                <script> associativeAnswer[{{response.id}}] = '{{response.entitled | raw}}';</script>

                                <div class="small-12 medium-6 columns">
                                    <div class="responseQuiz border-round" data-answer="{{response.id}}" data-answer-for="{{question.id}}">
                                    {{ response.entitled | raw }}
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                {% set questionForTest = questionForTest + 1 %}
            {% endfor %}
    </div>
    <div class='small-12 columns'>
        <div class="text-center hidden border-quiz" id="scoreSentence" > Votre score est de <span id="score"> </span> / {{quiz.questions|length}} </div>
    </div>
    <div id="resultBlock" class="hidden">
    </div>

</div>
{% endblock %}


{% block javascripts %}
<script>
    var resultTest = {};
    var questionNumber = 1;
    $('#startButton').on('click', function() {
        $(this).hide();
        $('[data-test="' + questionNumber + '"]').removeClass('hidden');
    });
    $('[data-answer]').on('click', function() {
        var oldQuestion = $('[data-test="' + questionNumber + '"]');
        oldQuestion.addClass('hidden');
        questionNumber += 1;
        var nextQuestion = $('[data-test="' + questionNumber + '"]');
        // On teste si une autre question existe
        resultTest[oldQuestion.data('question')] = $(this).data('answer');
        if (nextQuestion.length != 0) {
            
            $('[data-test="' + questionNumber + '"]').removeClass('hidden');
        } else {
            $('#quizBlock').addClass('hidden');
            $('#resultBlock').removeClass('hidden');
            var rightAnswer = 0;
            var onlyScoreDisplay = ('{{quiz.resultDisplay}}' == 'ONLYSCORE');
            var displayQuestion = '';
            {% for key in keys %}
                if(!onlyScoreDisplay) {
                    //$("#resultBlock").addClass('medium-3 small-12 columns');;
                    displayQuestion += "<div class='medium-3 small-12 columns border-quiz'>";
                    displayQuestion += "<div class='row align-center'>";
                    displayQuestion += "<div class='small-12 columns'>";
                    displayQuestion += '<div class="text-center">' + associativeQuestion[{{key}}] + '</div>';
                    displayQuestion += "</div>";
                }

                if (resultTest[{{key}}] == {{result[key]}}) {
                    rightAnswer += 1;
                    displayQuestion += "<div class='medium-6 small-12 columns'>";
                    displayQuestion += "<div class='rightAnswer'>" + associativeAnswer[{{result[key]}}] + "</div>";
                    displayQuestion += "</div>";

                } else if(!onlyScoreDisplay) {
                    if ('{{quiz.resultDisplay}}' == 'SHOWANSWER') {

                        displayQuestion += "<div class='medium-6 small-12 columns'>";
                        displayQuestion += "<div class='rightAnswer'>" + associativeAnswer[{{result[key]}}] + "</div>";
                        displayQuestion += "</div>";

                    }
                    displayQuestion += "<div class='medium-6 small-12 columns'>";

                    displayQuestion += "<div class='wrongAnswer'>" + associativeAnswer[resultTest[{{key}}]] + "</div>";
                    displayQuestion += "</div>";
                }
                if(!onlyScoreDisplay) {
                    displayQuestion += "</div>";
                    displayQuestion += "</div>";
                }
            {% endfor %}
            $('#score').text(rightAnswer);
            $('#scoreSentence').removeClass('hidden');
            if(!onlyScoreDisplay) {

                $('#resultBlock').replaceWith(displayQuestion);
            }
            // Ajax pour stocker les résultats
            var isTest = '{{isTest}}';
            isTest = isTest == '' ? false : true;
            if (!isTest) {
                $.ajax({
                    method: "POST",
                    url: '{{ url("app_save_result")}}',
                    data: { array:  resultTest, quizId : {{quiz.id}}, nbGoodAnswer : rightAnswer}
                    })
                    .done(function( msg ) {
                        //alert( "Data Saved: " + msg );
                    });
            }
        }
    })
</script>
{% endblock %}
