{% extends 'Areas/User/base.html.twig' %}

{% block title %}
  SYB - Accueil
{% endblock %}

{% block body %}
  <div class="row">
    <div class="small-12 columns">
    {% if quizs|length == 0 %}
      <div class="center-text">
          Aucun quiz trouvé
      </div>
    {% else %}
      <table>
        <thead>
          <tr>
            <th> 
              Nom
            </th>
            <th>
              Nombre de questions
            </th>
            <th>
              Visible
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          {% for quiz in quizs%}
             <tr>
               <td><a href="{{url('app_do_quiz', {'id' : quiz.id})}}">{{ quiz.Name}}</a></td>
               <td> {{ quiz.questions|length}} </td>
               <td> {% if quiz.IsVisible %} <i class="fa fa-check"></i> {% else %} <i class="fa fa-times"></i> {% endif %}</td>
               <td> <a href="{{url('app_edit_quiz', {'id': quiz.id})}}">
                      <i class="fa fa-pencil-alt"></i>
                    </a>
                    <a href="{{url('app_create_question', {'id': quiz.id})}}">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a href="{{url('app_delete_quiz', {'id': quiz.id})}}">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    </div>
  </div>
  

{% endblock %}